[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "incubate"]
	path = incubate
	url = https://gitlab.com/imb-dev/incubate
[submodule "kappaGold"]
	path = kappaGold
	url = https://github.com/cran/kappaGold
